<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyQwknn">

        <!-- SPLASH — launcher utama -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MyQwknn.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- CLIENT — mode user biasa (denah) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Indoor Positioning"/>

        <!-- DEBUG — mode developer -->
        <activity android:name=".ui.GedungAHActivity"
            android:label="Gedung AH"/>
        <activity android:name=".ui.CalibrationActivity"
            android:label="Kalibrasi"/>
        <activity android:name=".ui.PositioningActivity"
            android:label="Positioning"/>
        <activity android:name=".ui.ZenodoActivity"
            android:label="Zenodo"/>
        <activity android:name=".ui.AnalysisActivity"
            android:label="Analisis Parameter"/>
        <activity android:name=".ui.RekapActivity"
            android:label="Rekap Hasil Analisis"/>
        <activity android:name=".ui.DetailActivity"
            android:label="Detail Perhitungan"/>

    </application>

</manifest>